/*To be filled*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");


.navbar{
    display: flex;
}
/* 
    For your custom navbar, you can specify the unorderd list style.
*/
.navbar ul {
    /* 
          Remove bullet points.
    */
    list-style: none;
    width: 5000px;
    margin: 0 auto;
    /* No padding*/
    padding: 30px;
    /* 
          For navbars use background color that stands out.
    */
    background-color: rgb(255, 255, 0);
    text-align: center;
  }
  
  /*  
      Style individual list items.
  */
  .navbar li {
    width: 200 px;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    display: inline-block;
    line-height: 20px;
  }
  
  /* 
      Style links in navbar.
  */
  .navbar a {
    color: rebeccapurple;
    text-decoration: none;
    font-size: 48px;
    line-height: 50px;
    padding: 30px;
  }

.hook{
  margin-top: 72px;
  margin-bottom: 36px;
  padding: 30px;
  text-align: center;
}
  
.hook bd {
  color: rebeccapurple;
  text-decoration: none;
  font-size: 64px;
}

.hook sml {
  color: grey;
  font-size: 24;
}

.hook b {
  color: rebeccapurple;
  background: yellow;
  font-size: 36;
  border-radius: 25px;
  width: 250px;
  height: 75px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

#section{
  color: rebeccapurple;
  font-size: 48;
  text-align: center;
  margin-top: 36px;
}

iframe{
  width: 75%;
  height: 50%;
  display: block;
  margin: 36px auto;
}

#footer{
  background: rgb(117, 117, 117);
  color: white;
  text-align: center;
  font-size: 24;
  padding: 48px;
}