/*To be filled*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");

a {
  color: rebeccapurple;
  text-decoration: none;
  font-size: 32px;
  line-height: 50px;
  padding: 30px;
}
#navbar{
    display: flex;
}
/* 
    For your custom navbar, you can specify the unorderd list style.
*/
#navbar ul {
    list-style: none;
    width: 5000px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(255, 255, 0);
    text-align: center;
  }
  
  /*  
      Style individual list items.
  */
  #navbar li {
    width: 200 px;
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    display: inline-block;
    height: 75px;
  }
  
  /* 
      Style links in navbar.
  */
  #navbar a {
    color: rebeccapurple;
    text-decoration: none;
    font-size: 45px;
    line-height: 50px;
    padding: 30px;
  }

.hook{
  margin-top: 72px;
  margin-bottom: 36px;
  padding: 30px;
  text-align: center;
}
  
.hook h1 {
  color: rebeccapurple;
  font-size: 64px;
}

.hook sml {
  color: red;
  font-size: 18px;
}

.hook a {
  color: rebeccapurple;
  text-decoration: none;
  background: yellow;
  font-size: 64px;
  border-radius: 25px;
  width: 250px;
  height: 75px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

/*For section headers*/
.section{
  color: rebeccapurple;
  font-size: 48px;
  text-align: center;
  margin-top: 48px;
}

/*For features and Prices*/
.row{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 24px;
  justify-content: center;
}

.col{
  font-size: 24px;
  color: rebeccapurple;
  padding: 15px;
  width: 300px;
  text-align: center;
}

.col ul{
  background: yellow;
  width: 275px;
  height: 150px;
  border-radius: 25px;
}
.col2 ul{
  background: yellow;
  width: 450px;
  height: 150px;
  border-radius: 25px;
  font-size: 24px;
  color: rebeccapurple;
  padding-top: 24px;
  margin: 0 auto;
}

.col h2{
  text-align: center;
  padding-top: 14px;
  font-size: 32px;
}

.col li{
  text-align: left;
}

/*For the future section*/
#future ul{
  font-size: 24px;
  color: rgb(141, 96, 186);
  text-align:left;
  margin-left: 25%;
}
#future li{
  padding: 10px;
}

/*For the FAQ section*/
iframe{
  width: 75%;
  height: 25%;
  display: block;
  margin: 36px auto;
}

/*
  Styling for faq.html
*/

.qna{
  text-align: center;
  background-color: rgb(235, 233, 233);
}

.qna qu{
  color: rebeccapurple;
  font-size: 36px;
  padding: 36px;
}

.qna p{
  color: grey;
  font-size: 24px;
  padding-bottom: 48px;
}

#footer{
  background: rgb(117, 117, 117);
  color: white;
  text-align: center;
  font-size: 24;
  padding: 48px;
}
/* Style the sign up portion of the sign up/in page*/
#sign-Up{
  color: mediumvioletred;
  font-size: 42;
  text-align: center;
}
/* specify how small the small font should be*/
#sign-Up sml {
  font-size: 12;
}
/* Style the sign in portion of the sign up/in page*/
#sign-In{
  color: olivedrab;
  font-size: 42;
  text-align: center;
}
/* specify how small the small font should be*/
#sign-In sml {
  font-size: 12;
}
/* 
An image should not be fixed width, instead the width will adjust with the dimensions of the screen. 
The height scales accordingly to maintain the aspect ratio.*/
img {
  width: 23%;
  height: auto
}
